body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
   
}
.name-highlighter{
    color:blue;

}
.half-width{
    width:45%;
    float:left;
    margin-left: 50px;

}

.half-width img{
    width:100%;
    height=500px;
}